# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdb
*.jpg
DirectX11Practice.vcxproj
DirectX11Practice.vcxproj.filters
DirectX11Practice.vcxproj.user
src/cgmath.h
src/mouse.h
src/stb_image.h